@import '../../global-style//screen';

.card-item {
	width: min(100%, 250px);
	height: 350px;
	background: #c31432; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#240b36,
		#c31432
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#240b36,
		#c31432
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-radius: 8px;
	display: flex;
	align-items: center;
	flex-direction: column;
	@include extra-small-device() {
		width: min(100%, 150px);
		height: 180px;
	}

	img {
		width: 100%;
		height: 280px;
		background-color: antiquewhite;
		border-radius: 8px 8px 0px 0px;
		@include extra-small-device() {
			width: min(100%, 150px);
			height: 130px;
			object-fit: cover;
		}
	}
	.name-caracter {
		width: 100%;
		margin-top: 10px;
		text-align: start;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: #fff;

		font-family: 'Alfa Slab One', cursive;
		font-size: 20px;
		@include extra-small-device() {
			font-size: 13px;
		}
	}
}

#skeleton {
	width: min(100%, 250px);
	height: 350px;
	background-color: grey;
	border-radius: 8px;
	@include extra-small-device() {
		width: min(100%, 150px);
		height: 180px;
	}
}
